# Hugo build output
/public/
/resources/

# Local development files
.hugo_build.lock

# OS-specific junk
.DS_Store
Thumbs.db

# Node modules (si jamais tu ajoutes Tailwind avec npm plus tard)
node_modules/

# Backup / temporary files
*.bak
*.tmp
