<footer class="bg-gray-100 py-4 text-center">
  <p>© {{ now.Year }} {{ .Site.Params.author }} — Tous droits réservés</p>
  <div class="flex justify-center gap-4 mt-2">
    <a href="{{ .Site.Params.twitter }}" target="_blank">Twitter</a>
  <!-- <a href="{{ .Site.Params.facebook }}" target="_blank">Facebook</a> -->
  <a href="{{ .Site.Params.facebook }}" target="_blank">
      <img src="{{ "images/facebook.svg" | relURL }}" alt="Facebook" class="w-5 h-5">
    </a>
    <a href="{{ .Site.Params.linkedin }}" target="_blank">LinkedIn</a>
    <a href="{{ .Site.Params.instagram }}" target="_blank">Instagram</a>
  </div>
</footer>