<div class="language-selector">
    <button class="language-current" id="languageCurrent">
        {{ if eq .Language.Lang "fr" }}🇫🇷 FR
        {{ else if eq .Language.Lang "en" }}🇬🇧 EN
        {{ else if eq .Language.Lang "ar" }}🇸🇦 AR
        {{ end }}
    </button>
    <div class="language-dropdown" id="languageDropdown">
        {{ if ne .Language.Lang "fr" }}
        <a href="#" data-lang="fr" class="language-option">🇫🇷 Français</a>
        {{ end }}
        {{ if ne .Language.Lang "en" }}
        <a href="#" data-lang="en" class="language-option">🇬🇧 English</a>
        {{ end }}
        {{ if ne .Language.Lang "ar" }}
        <a href="#" data-lang="ar" class="language-option">🇸🇦 العربية</a>
        {{ end }}
    </div>
</div>
