
{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <div class="tabs">
      <div class="tab active">Présentation général</div>
      <div class="tab">Fiche technique</div>
      <div class="tab">Image</div>
      <div class="tab">Test</div>
    </div>
    <div style="margin-top:12px;">
      <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" style="width:100%;height:360px;object-fit:cover;border-radius:10px;">
    </div>
    <div style="margin-top:12px;">{{ .Content }}</div>
  </article>
{{ end }}
