<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Titre du site -->
  <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  
  <!-- Description SEO -->
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}">
  <!-- Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <!-- Styles personnalisés -->
  <style>
   body { font-family: 'Inter', sans-serif; }
    /* small helpers */
    .main-color { --tw-bg-opacity:1; background-color: theme(colors.emerald.400); }
  </style>
</head>