<div class="mobile-menu" id="mobileMenu" aria-hidden="true">
  <button class="close-mobile">✕</button>
  <ul>
    {{ range $m := slice "smartphones" "tablettes" "ordinateurs" "cameras" "wearables" "home-cinema" "gaming" "domotique" "audio" "obj.-connectes" "impression" "peripheriques" }}
      <li><a href="{{ printf "/%s/" $m | relURL }}">{{ humanize $m }}</a></li>
    {{ end }}
    <li class="sep"></li>
    <li><a href="/actualite/">Nouveautés</a></li>
    <li><a href="/comparatifs/">Trier par</a></li>
    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
  </ul>
</div>
